/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
    */

    *, *::before, *::after {
        box-sizing: border-box;
        }
    
        * {
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    
        body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        }
    
        img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
        }
    
        input, button, textarea, select {
        font: inherit;
        }
    
        p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
        }
    
        p {
        text-wrap: pretty;
        }
        h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
        }
    
        #root, #__next {
        isolation: isolate;
        }

/* main page */

* {
    /* (fallback) */
    --bg-color: #222;
    --text-color: #f2f2f2;
}

[data-theme="light"] {
    --primary-background-color: #dedede;
    --secondary-background-color: #eeeeee;
    --main-text-color: #333;
    --main-text-hover-color: grey;
    --main-title-line-color: yellow;
    --phase-permalink-color: #459cff;
    --resource-permalink-color: #BD7CEC;
    --link-arrow-color: rgb(125, 0, 85);
    --theme-button-color: #444;
}

[data-theme="dark"] {
    --primary-background-color: #222;
    --secondary-background-color: #333;
    --main-text-color: #f2f2f2;
    --main-text-hover-color: grey;
    --main-title-line-color: yellow;
    --phase-permalink-color: #459cff;
    --resource-permalink-color: #BD7CEC;
    --link-arrow-color: yellow;
    --theme-button-color: #e6e6e6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-background-color);
    color: var(--main-text-color);
}

/* nav bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--main-text-hover-color) 1px solid;
    font-size: calc(1rem + 0.5vw);
    width: 100%;
    background-color: var(--secondary-background-color);
}

.nav-title {
    margin-left: clamp(0rem, 5vw, 10rem);
    font-size: calc(2rem + 0.5vw);
    font-weight: 300;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.nav-title:hover {
    color: var(--main-text-hover-color);
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.5rem, 1vw, 2rem);
    list-style: none;
    margin-right: clamp(0rem, 5vw, 10rem);
    font-weight: 300;
}

.nav-btn {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    transition: text-decoration-color 0.2s ease-in-out;
}
  
.nav-btn:hover {
    text-decoration-color: var(--phase-permalink-color);
}

.theme-toggle {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50%;
    color: var(--main-text-color);
    background-color: var(--secondary-background-color);
    user-select: none;
}

.material-icons-outlined {
    font-size: 1.6rem;
    color: var(--theme-button-color);
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

li {
    list-style: none;
}

/* main content */
.main-content {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    color: var(--main-text-color);
    font-size: calc(1rem + 0.2vw);
    margin-left: clamp(0rem, 5vw, 10rem);
    margin-right: clamp(0rem, 5vw, 10rem);
    margin-top: clamp(0rem, 3vw, 10rem);
    max-width: 80ch;
}

.doc-span {
    border-bottom: 1px solid var(--phase-permalink-color);
}

.sections {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-links {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.section-links.expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.section-links,
.section-content {
    border-left: 1px solid var(--main-text-hover-color);
}

.section-header {
    font-size: calc(1rem + 0.2vw);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.section-header h3 {
    font-weight: normal;
    font-size: calc(1rem + 0.1vw);
}

.section-content {
    padding-top: 1rem;
    line-height: 1.8;
    font-weight: bold;
}

.session-content li:hover {
    text-decoration-color: var(--main-text-hover-color);
}

.section-content a {
    border-bottom: 1px solid var(--main-text-color);
}

.section-content a:hover {
    color: var(--main-text-hover-color);
    border-bottom: 1px solid var(--main-text-hover-color);
}

.section-permalink {
    color: var(--phase-permalink-color);
}

.resources {
    color: var(--resource-permalink-color);
}

.link-arrow {
    color: var(--link-arrow-color);
    border-bottom: 1px solid var(--primary-background-color); /* lol */
}

/* fight pages */
.fight-sections {
    line-height: 1.8;
}

.strat-link {
    font-weight: bold;
    border-bottom: 1px solid var(--main-text-color);;
}

.strat-link:hover {
    color: var(--main-text-hover-color);
    border-bottom: 1px solid var(--main-text-hover-color);
}

.fight-title {
    font-weight: 300;
}

.fight-title-description {
    font-weight: 300;
}

.phase-title {
    margin-top: 1rem;
    font-weight: 400;
}

.extra-info-title {
    margin-top: 1rem;
    font-weight: 400;
}

.tiny-text {
    font-size: 1rem;
    font-style: italic;
}

.li-title {
    font-weight: 500;
}

.compact-text {
    margin-bottom: 1rem;
}

li.prepull-spots {
    font-family: monospace;
}

/* about page */
.greetings-title {
    margin-bottom: 2rem;
}

.greetings-beginning-title,
.greetings-disclaimer-title,
.greetings-feedback-title {
    margin-bottom: 1rem;
    font-weight: 300;
}

.greetings-disclaimer,
.greetings-feedback,
.greetings-goodbye {
    margin-top: 2rem;
}

.credits-section {
    margin-top: 2rem;
    font-weight: 300;
}

/* general settings */
h1 {
    font-size: calc(2rem + 0.5vw);
    margin-bottom: 2rem;
    font-weight: 300;
}

h2,
h3,
h4,
h5 {
    margin-bottom: 1rem;
}

/* dropdown settings */
.sections {
    border-top: 1px solid var(--main-text-hover-color);
}

.header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    user-select: none;
}

.header-container:hover {
    color: var(--main-text-hover-color);
}

.h2-section-header {
    width: 6rem;
    user-select: none;
    font-weight: 300;
    font-size: 1.5rem;
}

.main-menu {
    border-right: 1px solid var(--main-text-hover-color);
}

.dropdown-arrow {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.dropdown-arrow i {
    transition: transform 0.1s ease;
}

.rotated {
    transform: rotate(180deg);
}

.back-link {
    font-weight: 400;
}

.back-link:hover {
    color: var(--main-text-hover-color)
}

.back-arrow {
    font-size: 1.8rem;
    color: var(--link-arrow-color);
}

.bottom-nav-links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.expandable {
    transition: max-height 0.2s ease-out;
}
/* footer */
footer {
    margin-top: auto;
    background-color: rgb(35, 36, 39);
    color: white;
    width: 100%;
    font-size: calc(0.8rem + 0.1vw);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.se-credits-container {
    margin-left: clamp(0rem, 5vw, 10rem);
}

.author-credits-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-icon {
    margin-right: clamp(0rem, 5vw, 10rem);
    margin-left: 0.8rem;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.github-icon:hover {
    color: rgb(129, 129, 129);
}

/* media */
@media (max-width: 700px) {
    html {
        font-size: 90%;
    }
}

